*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: url(/photos/background.png);
  background-position: center;
  font-family: 'Roboto', sans-serif;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
  text-align: center;
}
h1{
  color: rgb(150, 0, 180);
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 1rem;
  padding-top: 5%;
  text-transform: uppercase;
}
h2{
  color: gray;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.img{
  position: abosolute;
  left: 50%;
  top: 20%;
}
p{
  font-size: 15px;
  color: gray;
  line-height: 2rem;
  margin-top: 5rem;
}
body p{
  background-color: #fffdfdc5;
  box-shadow: 2px 2px 5px rgb(150, 0, 180);
}
/* for header */
@media (min-width: 576px){
.logo{
    float: left;
}
.menu{
  float: right;
  padding-right: 35%;
}
.icon{
  display: none;
}
.nav ul{
  list-style: none;
}
.nav{
  display: inline-block;
  position: absolute;
  top:3%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-bottom: double;
  width: 100%;
  text-align: right;
  margin-right: 5px;
  background-color: white;
}
.nav li:hover{
  background-color: #c5c5c5;
}
.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  color:  gray;
  text-align: center;
}
.nav ul li{
  position: relative;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  float: left;
  width:136px;
  line-height: 50px;
}
#dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}
#dropdown li{
  background: (129, 129, 129);
}
#dropdown li:hover{
  background-color: rgb(255, 153, 238);
}
#dropdown li{
  display: none;
}
.nav li:hover #dropdown li{
  display: block;
  color: ghostwhite;
}
.nav li:hover #dropdown{
  perspective: 1000px;
  
}
.nav li:hover #dropdown li{
  transform-origin: top left;
  opacity: 0;
}
.nav li:hover #dropdown li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}
.nav li:hover #dropdown li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.nav li:hover #dropdown li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}
.nav img{
  position: absolute;
  left: 1%;
  top: 20%;
}
a{
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  color: grey;
}
@keyframes animate{
  0%{
    opacity: 0;
    transform: rotateZ(90deg);
  }
  70%{
    transform: skewX(10ddeg);
  }
  100%{
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
}
@media (max-width: 576px){
  .nav {
    overflow: hidden;
    background-color: white;
    position: relative;
    border-bottom: double;
    padding-top: 10%;
  }
  
  .nav #dropdown {
    display: none;
  }
  
  .nav a {
    color:gray;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .nav a.menu{
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .nav a:hover {
    background-color: rgb(255, 153, 238);
    color:gray;
  }
  ul{
    list-style-type: none;
  }
  .nav img{
    position: absolute;
    left: 1%;
    top: 10%;
  }
  h1{
    padding-top: 0%;
  }
  .img{
    position: abosolute;
    left: 50%;
    top: 15%;
  }
  p{
    font-size: 15px;
    color: gray;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
 
}
/* footer */
@media(min-width:576px){
footer{
  position: absolute;
  top: 650px;
  background: black;
  height: auto;
  width: 100vw;
  font-family:'Roboto', sans-serif;
  padding-top: 40px;
  color: ghostwhite;
  opacity: 1;
}
}
@media (max-width:576px){
 footer{
  position: absolute;
  top: 900px;
  background: black;
  height: auto;
  width: 100vw;
  font-family:'Roboto', sans-serif;
  padding-top: 40px;
  color: ghostwhite;
  opacity: 1; 
}
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p{
  min-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: ghostwhite
}
.socials a i{
  font-size: 1.1remm;
  transition: color 0.5s ease;
}
.socials a:hover i{
  color:  rgb(150, 0, 180);
}

.footer-bottom{
  background-color: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: uppercase;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* contact */
body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: url(/photos/background.png);
  background-position: center;
  font-family: 'Roboto', sans-serif;
}
.contact-title{
  margin-top: 100px;
  color:  rgb(150, 0, 180);
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-title h1{
  font-size:32px;
  line-height: 10px;
}
.contact-title h2{
  font-size: 16px;
}
form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control{
  width: 450px;
  background:transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: rgb(150, 0, 180);
  font-size: 18px;
  margin-bottom: 16px;
}
input{
  height: 45px;
}
form .submit{
background:rgb(255, 192, 245);
border-color: transparent;
font-size: 20px;
font-weight: bold;
letter-spacing: 2px;
height:50px;
margin: 10px;
color: rgb(167, 123, 175);
transition: 0.8s;
margin-top: 20px;
}
form .submit:hover{
 color: rgb(255, 192, 245);
 background-color:  rgb(255, 71, 224);
 cursor: pointer;
}
form a{
  text-align: center;
  padding: 15px;
  font-family: 'Roboto',sans-serif;
}



@media (max-width: 576px){
  form{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
  }
}
/* gallery */
.banner-area{
  width: 100%;
  height: 500px;
  position: fixed;
  background-image: url("photos/contact.gif");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.banner-area h1{
  padding-top: 8%;
  font-size: 70px;
  text-transform: uppercase;
  color:  rgb(150, 0, 180);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.banner-area h4{
  padding-top: 8%;
  font-size: 15px;
  color: rgb(168, 168, 168);
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.content-area{
  width: 100%;
  position: relative;
  top: 450px;
  background: rgba(65, 52, 77, 0.733);
}
@media(min-width:576px){
  .content-area{
    height: 700px;
}
}
@media(max-width:576px){
  .content-area{
    height: 900px;
}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}


.thumb{
  width: 100%;
  min-width: 400px;
  height:500px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin-top: 30px;
  display: flex;
}
.thumb img{
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  object-position: top;
  object-fit: cover;
  padding: 10px;
}
.thumb h4{
  color:ghostwhite;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
}
.thumb img:hover{
  background-color: rgba(255, 134, 255, 0.705);
  transition: 0.8s;
}
/* photo gallery */
@media(min-width: 576px){
div.gallery {
  position: relative;
  top:200px;
  left: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  background-color: #fffdfdc5;;
}

div.gallery:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family:'Roboto', sans-serif;

}
div.pgallery {
  position: relative;
  top:200px;
  left: 100px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  background-color: #fffdfdc5;;
}
div.pgallery img {
  width: 100%;
  height: auto;
}

div.pdesc {
  padding: 15px;
  text-align: center;
  font-family:'Roboto', sans-serif;

}
div.pgallery:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
}
@media
(max-width: 576px){
  div.gallery {
    position: relative;
    left: 5%;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 250px;
    background-color: #fffdfdc5;
    left: 100px;
  }
  
  div.gallery:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;

  }
  div.desc {
    padding: 15px;
    text-align: center;
    font-family:'Roboto', sans-serif;
  }
  div.pgallery {
    position: relative;
    margin: 10px;
    border: 1px solid #ccc;
    width: 250px;
    background-color: #fffdfdc5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    top: 40px;
    float: left;
    left: 100px;
  }
  div.pgallery img {
    width: 100%;
    height: auto;
  }
  
  div.pdesc {
    padding: 15px;
    text-align: center;
    font-family:'Roboto', sans-serif;
  
  }
  div.pgallery:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
  }
  .pfooter{
    position: absolute;
    top: 1800px;
    background: black;
    height: auto;
    width: 100vw;
    font-family:'Roboto', sans-serif;
    padding-top: 40px;
    color: ghostwhite;
    opacity: 1; 
  }
}

@media(max-width: 576px){
  html{
    display: flex;
  }
}
@media (max-width:576px){
  h1{
    font-size: 20px;
    letter-spacing: 2px;
  }
  h2{
    font-size: 10px;
  }
}




